# Node.js
node_modules/
package-lock.json

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
**/__pycache__/
**/*.pyc

# Entornos virtuales
venv/
env/

# Archivos de configuración
.env
.vscode/

# Archivos de log y temporales
*.log
*.tmp

# Base de datos local
db.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db
