{% extends 'base.html' %}

{% block title %}Sobre Nosotros - VeriHome{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-16">
        <h1 class="montserrat text-4xl font-bold text-white mb-6 text-center">Quiénes Somos</h1>
        <div class="bg-gray-900 p-8 rounded-lg shadow-xl">
            <h2 class="montserrat text-2xl font-bold text-white mb-4">Reseña</h2>
            <p class="text-gray-400 mb-4">En VeriHome, creemos que el éxito de un alquiler, venta o servicio inmobiliario se basa en algo más que propiedades: las personas que hacen posible cada transacción. Somos una comunidad de arrendadores, arrendatarios y prestadores de servicios que comparten un compromiso inquebrantable con la honestidad, confianza y seguridad.</p>
            <p class="text-gray-400 mb-4">Nuestra plataforma ofrece un entorno donde cada usuario está verificado, cada propiedad es transparente y cada servicio cumple con altos estándares. A través de un sistema de calificación entre usuarios, mensajería privada y contratos digitales, garantizamos transacciones claras y seguras.</p>
            <p class="text-gray-400 mb-4">VeriHome es más que un espacio para encontrar una propiedad, es la garantía de una relación confiable en el mundo inmobiliario. ¡Bienvenido a la nueva forma de alquilar, comprar y contratar servicios con total seguridad!</p>
        </div>
    </div>
{% endblock %}